html, body{
    font-size: 30px;
    background-color: #E0E0E0;
}

.question p {
    background-color: #c4c4c4 !important;
    color:white;
    height: 100px;
    width: 68vw;
    border-radius: 13px;
    text-align: center;
    padding-top:1rem ;
}

.question {
    display:flex;
    justify-content: center;
    position:relative;
    top: 20vh;
}

.answer {
    display:flex;
    justify-content: space-evenly;
    position:relative;
    top: 40vh;
}

.answer a {
    padding: 20px 9vw;
    background-color: #c4c4c4 !important;
    border: 0.1px solid #c4c4c4 !important;
}