html, body{
    font-size: 30px;
    background-color: #E0E0E0;
}

.question p {
    background-color: #c4c4c4 !important;
    color:white;
    height: 100px;
    width: 75vw;
    border-radius: 13px;
    text-align: center;
    padding-top:1rem ;
}

.question {
    display:flex;
    justify-content: center;
    position:relative;
    top: 20vh;
}

.answer {
    box-sizing: border-box;
    display:flex;
    justify-content: space-evenly;
    position:relative;
    top: 30vh;
}

.answer a {
    height: 7vh;
    width: 20vw;
    box-sizing: border-box;
    padding: 5px 9vw;
    background-color: #c4c4c4 !important;
    border: 0.1px solid #c4c4c4 !important;
    width: 30vw;
}

.circle1 {
    height: 60vw;
    width: 60vw;
    background-color: #2D9CDB;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 80vh;
    right: 50vw;
    z-index:2;
  }
.circle2 {
    height: 22vw;
    width: 22vw;
    background-color: #56CCF2;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
    top: 92vh;
    right: 35vw;
    z-index:1;
  }