body{
    background-image: url("/resources/image/Large-Triangles.svg"); 
 }
 

html {
    font-size: 16px;
}

header {
    height: 100vh;
}

.icon {
    height: 100px;
    width: 100px;
}
.bottomcolor {
    background-color: #E8F7FF; 
    background-image: url("/resources/image/Large-Triangles.svg"); 
}

.topcolor{
    background-image: url("/resources/image/deepblue.svg"); 
}

.buttoncolor {
    background: url("/resources/image/deepblue.svg"); 

    border-radius: 20px;
    text-align: center;
    font-weight:bold;
    font-size:1.7em;
    border: 1px solid white;
    color: rgb(221, 221, 221);
    padding: 25px 50px;

}