body{
    background-image: url("./resources/image/Large-Triangles.svg"); 
    font-size: 16px;
 }

.icon {
    height: 100px;
    width: 100px;
}

.topcolor{
    background-image: url("./resources/image/deepblue.svg"); 
}

.buttoncolor {
    background: url("./resources/image/deepblue.svg"); 
    border-radius: 20px;
    text-align: center;
    font-weight:bold;
    font-size:1.7em;
    border: 1px solid white;
    color: rgb(221, 221, 221);
    padding: 20px 50px;

}